.cabecalho {
    position:relative;
    padding: 14px 70px;
    text-align: center;
    background-image:linear-gradient(to top,rgba(239, 248, 250, 0.527), rgb(17, 32, 58));
    color: rgb(243, 247, 246);
}
.texto{
    position: relative; 
font-size: 30px;
text-align: center;
list-style: none;

}
body{
    margin: 0px;
    background-color: rgba(239, 248, 250, 0.527);
}
.texto{ 
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
}